<div class="center_pos">
	<div class="cmpny_logo">
		<img src="assets/mindz_logo.png" class="logo" />
	</div>
	<mat-card class="login-card">
		<mat-card-title>
			Forgot Password
		</mat-card-title>
		<mat-card-content>
			<mat-form-field MatFormFieldControl>
			    <input type="email" [(ngModel)]="email" matInput placeholder="Enter your email ID..." />
			</mat-form-field><br/>
			<a class="forget_pass" routerLink="/app/login"><p>Login again</p></a>

			<mat-grid-list cols="2" rowHeight="50px">
			  <mat-grid-tile [colspan]="2" [rowspan]="1">
			    <button mat-raised-button class="login_btn" (click)="submit()">Submit</button>
			  </mat-grid-tile>
			</mat-grid-list>

		</mat-card-content>
	</mat-card>
</div>

