<mat-list role="list">
	<h3>{{message | uppercase}}....child-1</h3>
  <mat-list-item role="listitem" (click)="setItem('item1')">Item 1</mat-list-item>
  <mat-list-item role="listitem" (click)="setItem('item2')">Item 2</mat-list-item>
  <mat-list-item role="listitem" (click)="setItem('item3')">Item 3</mat-list-item>
  <mat-list-item role="listitem" (click)="setItem('item4')">Item 4</mat-list-item>
  <mat-list-item role="listitem" (click)="setItem('item5')">Item 5</mat-list-item>
  <mat-list-item role="listitem" (click)="setItem('item6')">Item 6</mat-list-item>
</mat-list>
