body {
	background: #e4e4e4!important;
	.right_side_icon {
		position: absolute;
    	right: 2%;
    	button {
    	    margin: 0px 5px;
    	}
	}
	.mat-toolbar{
	    box-shadow: 0px 1px 20px 0px #444;
	}
	.heading{
		margin-left: 20px;
	}
	.alert-success{
	    margin: 30px;
	    background: #149e58;
	    padding: 15px 30px;
	    color: #fff;
	}
	.alert-failure{
		margin: 30px;
	    background: #fa4582;
	    padding: 15px 30px;
	    color: #fff;
	}
}