<h3 style="text-align: center;">Pattern 1</h3>
<div id="pattern1"></div>
<pre>{{pattern1_code}}</pre>

<!-- <h3 style="text-align: center;">Pattern 2</h3>
<div id="pattern2"></div>
<pre>{{pattern2_code}}</pre> -->