/*position: relative;*/
.center_pos {
	position: absolute;
    left: 34%;
    padding-top: 40px;
}
.cmpny_logo, mat-card-title {
	text-align: center;
	.logo{
		height: 100px;
		margin-bottom: 20px;
	}
}
mat-card-title{
	font-size: 25px;
    color: #606060;
    font-weight: bold;
    text-decoration: underline
}
.login-card{
	width: 400px;
	box-shadow: 0px 7px 20px 5px #444;
}
mat-form-field, button{
	width: 100%;
}
button{
	margin-bottom: 10px;
}
.forget_pass{
    float: right;
    color: #aeaeae;
    font-weight: bold;
    p{
    	margin: 0;
    	margin-bottom: 10px;
    }
}
mat-grid-list{
    margin-top: 25px;
}
.register_btn{
    background-color: #474949;
    color: #fff;
    margin: 0px 5px;
}
.login_btn{
	background-color: #2cd6a1;
	color: #fff;
	margin: 0px 5px;
}
