<mat-drawer-container class="example-container">
	<mat-drawer #sidemenu>
		
		<div class="sidemenu_logo_div">
			<img src="assets/mindz_logo.png" />
		</div>

		<mat-list class="list" role="list">
		  <mat-list-item role="listitem">
		  	<button mat-button color="accent">Menu</button>
		  </mat-list-item>
		  <mat-list-item role="listitem">
		  	<button mat-button color="accent">Menu</button>
		  </mat-list-item>
		  <mat-list-item role="listitem">
		  	<button mat-button color="accent">Menu</button>
		  </mat-list-item>
		</mat-list>

	</mat-drawer>
  	<!-- <mat-drawer mode="side" opened>Drawer content</mat-drawer> -->
  	<mat-drawer-content>
		<mat-toolbar>
			<button mat-icon-button (click)="sidemenu.toggle()">
			    <mat-icon>menu</mat-icon>
			</button>
			<span class="heading">Best 2 Learn</span>
			<div class="right_side_icon">
				<button mat-fab>
				    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
				</button>
			    <button mat-fab>
				    <mat-icon aria-label="Example icon-button with a heart icon">face</mat-icon>
				</button>
			</div>
		</mat-toolbar>
		<flash-messages></flash-messages>
		<router-outlet></router-outlet>
  	</mat-drawer-content>
</mat-drawer-container>