body {
	height: 100%;
}
mat-drawer{
	width: 250px!important;	
}
mat-drawer-content{
	background: #e4e4e4;
}
.sidemenu_logo_div{
	text-align: center;
	box-shadow: inset 0px 0px 18px 2px #444;
	img{
		width: 150px;
	    background: #fa4582;
	    margin: 20px;
	    /* padding: 20px; */
	    border-radius: 50%;
	    height: 150px;
	}
}
.mat-button{
	padding: 0!important;
	width: 100%!important;
}