<div class="center_pos">
	<div class="cmpny_logo">
		<img src="assets/mindz_logo.png" class="logo" />
	</div>
	<mat-card class="login-card">
		<mat-card-title>
			Login
		</mat-card-title>
		<mat-card-content>
			<mat-form-field MatFormFieldControl>
			    <input type="text" [(ngModel)]="username" matInput placeholder="Username" />
			</mat-form-field><br/>
			<mat-form-field MatFormFieldControl>
			    <input type="password" [(ngModel)]="password" matInput placeholder="password" />
			</mat-form-field>
			<a class="forget_pass" routerLink="/app/forgotpassword"><p>Forget Password?</p></a>

			<mat-grid-list cols="4" rowHeight="50px">
			  <mat-grid-tile [colspan]="2" [rowspan]="1">
			    <button mat-raised-button class="login_btn" (click)="login()">Login</button>
			  </mat-grid-tile>
			  <mat-grid-tile [colspan]="2" [rowspan]="1">
			    <button mat-raised-button class="register_btn" routerLink="/app/register">Register</button>
			  </mat-grid-tile>
			</mat-grid-list>
			<!--comment-->
		</mat-card-content>
	</mat-card>
</div>

