<ng-container>
	<p>
	  dashboard-page works!
	</p>
	<p>{{val | currency:'INR'}}</p>
	<p>{{val | percent:'1.3-9'}}</p>
	{{str | titlecase}}

	Value: <input type="number" [(ngModel)]="val" />

	<p>Double : {{ val | test:10 }}</p>
	 
	<h3>{{str | titlecase}}....parent</h3>

	<h3>{{msg}}...parent</h3>

	<h3>{{evtMsg}}</h3>

	<h4>testing: {{ numb | number }}</h4>

	<mat-grid-list cols="7">
		<mat-grid-tile [colspan]="7" [rowspan]="2">
			<app-comp4 style="width: 100%;margin: 30px;"></app-comp4>
		</mat-grid-tile>
	</mat-grid-list>

	<mat-grid-list cols="7">
	  <mat-grid-tile [colspan]="1" [rowspan]="3">
		<app-comp1 [message]="str" style="width: 100%;"></app-comp1>
	  </mat-grid-tile>
	  <mat-grid-tile [colspan]="3" [rowspan]="3">
		<app-comp2 (change)="getMessage($event)" style="width: 100%;margin: 30px;"></app-comp2>
	  </mat-grid-tile>
	  <mat-grid-tile [colspan]="3" [rowspan]="3">
		<app-comp3 [num]='4'></app-comp3>
	  </mat-grid-tile>
	</mat-grid-list>
</ng-container>