body {
	background: #197f36; 
	background: -moz-linear-gradient(45deg, #197f36 0%, #896900 100%); 
	background: -webkit-linear-gradient(45deg, #197f36 0%,#896900 100%);
	background: linear-gradient(45deg, #197f36 0%,#896900 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#197f36', endColorstr='#896900',GradientType=1 );
}