input{
	height: 40px;
    width: 400px;
    padding-left: 10px;
}
.form {
	text-align: center;
	position: relative;
	.button {
	    width: 60px;
	    position: absolute;
	    right: 29.8%;
	    top: 10%;
	}
}
.task_list{
	background: #a8a8a8;
    width: 500px;
    margin: 0 auto;
    padding: 1px;
    border-radius: 10px;
    margin-top: 20px;
    height: 225px;
    overflow: scroll;
    overflow-x: hidden;	
}
.task {
	background: white;
    width: 400px;
    margin: 0 auto;
    border-radius: 4px;
    position: relative;
    img{
		width: 30px;
	    height: 30px;
	    position: absolute;
	    top: 7px;
	    right: 8px;
    }
}
.title {
	text-align: left;
	padding: 13px 15px;
}
.no_item p{
    border: 2px dotted #fff;
    margin: 20px;
    padding: 10px;
    color: #fff;
}