<div class="form">
	<h2>To Do Application</h2>
	<input type="text" name="task" [(ngModel)]="task_name" placeholder="Task Name" />
	<div class="button" (click)="addTask()">
		<img src="assets/plus.png" width="100%">
	</div>
	<div class="task_list">
		<div class="task" *ngFor="let task of taskList">
			<p class="title">{{task.name}}</p>
			<img src="assets/delete.png" width="100%" (click)="deleteTask(task)"/>
		</div>

		<div class="no_item" *ngIf="taskList.length == 0">
			<p>No Task Exist</p>
		</div>
	</div>
</div>
