<h3>
  comp2 works!
</h3>
<input type="text" [(ngModel)]="msg"/>
<button mat-icon-button>
    <mat-icon>menu</mat-icon>
</button>

<button mat-icon-button (click)="showSuccessMsg()">
    Success
</button>
<button mat-icon-button (click)="showFailureMsg()">
    Failure
</button>

<h1>{{msg}}....child-2</h1>
<h1>{{message}}....child-2.1</h1>